<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand " href="#">My Courses</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img href="https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.18169…pPe6GumsF5O0mcDrCZh6zQiUQQS5OgI_miR7Q&oe=62D5DB11" alt="" class="user-avatar">
            Tân Nguyễn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Add courses</a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="/me/stored/courses">My Courses</a>
            <a class="dropdown-item" href="#">My Blog</a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="#">Logout</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>